@import '../../styles/_variables';

.tasks{
  position:relative;
}
.example-card {
  margin:40px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .example-card {
    width:200px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .example-card {
    width:300px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .example-card {
    width:400px;
  }
}


.header{
  display:inline-block;
  flex-direction: row-reverse;

}

a:hover{
  text-decoration: none !important;
  cursor:pointer;
  color:blue;
}

p{
  margin-left: 30px;
  margin-right: 20px;
}

.new{
  margin-bottom:12px;
  margin-right:12px;
  margin-left:12px;
  position:relative;
  left:0;
  display:inline-block;
  font-size: 24px;
  font-weight: bold;
}

.close{
  margin-bottom:12px;
  margin-right:12px;
  margin-left:12px;
  right:0;
  display:inline-block;
  margin-top:5px;
}



.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }


